.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #2b2a2a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
.squareInput {
  margin: 0px 15px 0px 15px;
}
.squareInput > div > input {
  height: 38px;
  border-radius: 3px !important;
}
.greyedNodes {
  opacity: 0.2 !important;
}
.hover {
  stroke: white !important;
  fill: white;
  stroke-width: 7px;
}
.parent-hover {
  stroke: white !important;
  stroke-width: 7px !important;
  filter: url(#glow);
}
.visible {
  stroke: white;
  stroke-width: 7px;
}
.choosenNode {
  fill: white !important;
  stroke: white !important;
}
.chosenNodeParent {
  filter: url(#glow);
  stroke: white !important;
  stroke-width: 4 !important;
}
.choosenLink {
  filter: url(#glow);
  stroke: white !important;
  stroke-width: 10 !important;
}
.parent-project {
  fill: #e6e6e6;
  stroke: white;
  stroke-width: 7px;
  opacity: 1 !important;
  filter: url(#innerRingGlow) !important;
}
.link-hover {
  stroke-width: 20px !important;
}
.seperator {
  fill: black;
}
.directLabel {
  font-size: 100px;
  font-weight: bold;
  fill: white;
}

.titleUnderline {
  opacity: 1 !important;
}
.legendCircles {
  opacity: 1 !important;
}
.sampleIDLabel {
  font-size: 150px;
  text-decoration: "underline";
  font-family: "Lucida Console", Monaco, monospace;
  fill: black;
  font-weight: normal;
  opacity: 1;
  white-space: pre;
}
.libraryInfoIDLabel,
.jiraInfoIDLabel {
  font-family: "Lucida Console", Monaco, monospace;
  fill: black;
  font-weight: normal;
  opacity: 1;
  white-space: pre;
  font-size: 120px;
  /*animation: neon 0.8s ease-in-out infinite alternate;*/
}
.jiraAfterFilterLabel,
.libraryAfterFilterLabel {
  font-size: 100px;
}

.sampleAfterFilterLabel,
.jiraAfterFilterLabel,
.libraryAfterFilterLabel {
  font-family: "Lucida Console", Monaco, monospace;
  fill: black;
  font-weight: 200;
  white-space: pre;
  opacity: 1;
}
.jiraTicketLabelsOutterRing {
  stroke: white;
  stroke-width: 5;
  fill: none;
}
.jiraTicketlabels {
  font-family: "Lucida Console", Monaco, monospace;
  fill: white;
  font-weight: 100;
  font-size: 100px;
  white-space: pre;
  opacity: 1;
}
.legendTitles,
.legendDescription {
  font-family: "Lucida Console", Monaco, monospace;
  fill: black;
  font-weight: normal;
  white-space: pre;
  opacity: 1;
  font-size: 100px;
}
.jiraLabel {
  font-family: arial;
  fill: black;
  color: white;
  font-size: 45px;
  font-weight: bold;
  text-anchor: middle;
}
.d3-tip {
  line-height: 1;
  padding: 6px;
  background: white;
  color: #000;
  border-radius: 4px;
  font-size: 12px;
}
/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: white;
  position: absolute;
  pointer-events: none;
}
/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

@keyframes neon {
  from {
    text-shadow: 0 0 2px rgba(255, 255, 225, 0.92),
      0 0 15px rgba(255, 255, 255, 0.34), 0 0 12px rgba(255, 255, 255, 0.52),
      0 0 10px rgba(255, 255, 255, 0.92), 0 0 34px rgba(255, 255, 255, 0.78),
      0 0 20px rgba(255, 255, 255, 0.92);
  }
  to {
    text-shadow: 0 0 2px rgba(202, 228, 225, 0.98),
      0 0 30px rgba(255, 228, 225, 0.42), 0 0 12px rgba(255, 255, 255, 0.58),
      0 0 22px rgba(255, 132, 255, 0.84), 0 0 20px rgba(255, 255, 255, 0.88),
      0 0 45px rgba(255, 255, 255, 1);
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
